requests==2.32.5
polars==1.36.1
great_tables==0.20.0
plotly==6.5.0
nbformat==5.10.4
scipy==1.16.3
numpy==1.26.4
pandas==2.3.3
matplotlib==3.10.8
statsmodels==0.14.6
xgboost==3.1.2
tensorflow-metal==1.2.0
tensorflow==2.16.2
tensorflow-macos==2.16.2
setuptools==80.9.0
fredapi==0.5.2
gridstatusio==0.15.1